.UserHome{
  background-color: rgb(239, 239, 239);
  text-Align: "center";
  color: 'black';
  padding: 1.2rem;
  min-height: 100vh;
  width: 98.85vw;
}

.UserHome *{
  color: black;
}

.UserHome h1{
  text-align: center;
  color: black;
  margin-bottom: 1rem;
  color: #020f55;
}

.UserHome .forms{
  width: 85%;
  padding: 48px;
  background-color: white;
  box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  margin: auto;
  min-height: 85vh;
}

.UserHome .form-card {
    cursor: pointer;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
    width: 250px;
    height: 270px;
  }
  
  .UserHome .form-card h3 {
    margin: 0 0 8px;
  }
  
  .UserHome .form-card p {
    font-size: 14px;
    color: #555;
  }
  
  .UserHome .form-card button{
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .UserHome .form-card button:hover {
    background: #0056b3;
  }
  