/* Centered container */
.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 239, 239);
}

.login-container * {
    color: #000;
}

.login-container .loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    /* Change background color if needed */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}

.login-container .loading-logo {
    width: 90px;
    height: 90px;
    background: url("/logo.png") no-repeat center center;
    background-size: contain;
    animation: zoomInOut 2s ease-in-out infinite alternate;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.5);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0.8;
    }
}

/* Box with login form */
.login-container .login-box {
    width: 400px;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Logo styling */
.login-container .login-logo {
    width: 120px;
    margin-bottom: 15px;
}

/* Heading */
.login-container .login-box h2 {
    font-size: 22px;
    margin-bottom: 5px;
}

.login-container .login-subtitle {
    font-size: 20px;
    margin-bottom: 20px;
}

/* Form styling */
.login-container .login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-container .login-field {
    text-align: left;
}

.login-container .login-field label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.login-container .login-field input {
    background-color: white;
    width: 100%;
    padding: 10px;
    border: 1px solid #363636;
    border-radius: 6px;
    font-size: 14px;
}

/* Login button */
.login-container .login-btn {
    background-color: #1f1282;
    color: white;
    font-size: 16px;
    padding: 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.login-container .login-btn:hover {
    background-color: #2918ac;
}

/* Links */
.login-container .login-links {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.login-container .login-links a {
    text-decoration: none;
    color: #0057ff;
    font-size: 14px;
}

.login-container .login-links a:hover {
    text-decoration: underline;
}