header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f0842;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  width: 98.85vw;
}

header h1 {
  font-size: 1.4em;
  color: white;
  font-weight: 600;
}

header .logo {
  display: inline-flex;
  align-items: center;
}

header .logo strong {
  text-transform: uppercase;
}

header .logo img {
  cursor: pointer;
  width: 50px;
  margin-right: 10px;
  background-color: white;
  border-radius: 50%;
}

header #profile {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  height: 100%;
}

header .right {
  margin-right: 12px;
}

header #profile svg {
  fill: white;
  height: 28px;
}

header .profile {
  position: fixed;
  top: 0;
  right: -410px;
  width: 360px;
  height: 100%;
  background-color: rgba(160, 157, 255, 0.7);
  color: #000;
  transition: right 0.3s ease-in-out;
  border-radius: 12px 0px 0px 12px;
}

header .profile.open {
  right: 0;
}

header .minimize-btn {
  position: absolute;
  top: 10px;
  left: -45px;
  width: 40px;
  height: 40px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s;
}

header .minimize-btn:hover {
  background-color: rgba(100, 100, 100, 0.7);
}

header .cross{
  line-height: 40px;
}

header .profile h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

header .profile .employee-card {
  padding: 20px;
  padding-left: 30px;
  font-size: 14px;
  max-width: 400px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.27);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(5px);
  border-radius: 12px 0px 0px 12px;
}

header .profile .info {
  display: flex;
  flex-direction: column;
}

header .profile .info-item {
  margin-bottom: 10px;
}

header .profile .info-item .label {
  font-weight: 550;
}

header .profile .info-item .value {
  margin-left: 10px;
}

header .profile .logout {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #1f1282;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.2s;
}

header .profile .logout:hover {
  background-color: #2918ac;
}