/* Main container styling */
.container3 {
  background-color: #f9f9ff;
  height: 95vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.container3 .sidebar{
  width: 100%;
  background-color: #dbdbff;
}

.container3 .sidebar ul{
  font-size: 20px;
  margin-top: 20px;
  padding: 12px 20px;
  font-weight: 400;
  color: black;
  list-style: none;
}

.container3 .form-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

/* Card styling */
.container3 .form-card {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: max-content;
  height: max-content;
  margin: 0 auto;
}

/* Title styling */
.container3 .form-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 10px;
}

/* Paragraph styling */
.container3 .form-card p {
  font-size: 1rem;
  color: #4b5563;
  margin: 5px 0;
}

/* Button styling */
.container3 .view-button {
  background-color: #6366f1;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.container3 .view-button:hover {
  background-color: #4f46e5;
}