/* Main container styling */
.container3 {
  background-color: #f9f9ff;
  height: 95vh;
  display: grid;
  grid-template-columns: 2fr 9fr;
}

.container3 .sidebar{
  width: 100%;
  background-color: #cecbff;
}

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(120px); }
}

.container3 .sidebar ul{
  margin-top: 1.8em;
  width: 100%;
  list-style: none;
}

.container3 .sidebar ul button{
  width: 100%;
  font-weight: 450;
  color: black;
  font-size: 1.2em;
  border: none;
  padding: 5px 0;
  text-align: left;
  padding-left: 1.5em;
}

.container3 .deactivated{
  background-color: transparent;
}

.container3 .sidebar ul button:hover, .container3 .activated{
  cursor: pointer;
  background-color: #f6f6ff;
}

.container3 .outer .title{
  color: black;
  margin-top: 0.6em;
  margin-left: 1em;
}

.container3 .loading-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 98.85vw;
  height: 100vh;
  background: rgba(230, 230, 230, 0.7);
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.container3 .form-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  color: black;
}

.container3 .form-card {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: max-content;
  height: max-content;
  margin: 0 auto;
}

/* Title styling */
.container3 .form-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 10px;
}

/* Paragraph styling */
.container3 .form-card p {
  font-size: 1rem;
  color: #4b5563;
  margin: 5px 0;
}

/* Button styling */
.container3 .view-button {
  background-color: #6366f1;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.container3 .view-button:hover{
  background-color: #4f46e5;
}